<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Purple+Purse&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Jacquarda+Bastarda+9&family=Purple+Purse&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jacquarda+Bastarda+9&family=Purple+Purse&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/icon-font.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">

        <title>Sentiments | IO</title>
    </head>
    <body>
        <header class="header">

            <div class="logo-box">
                <img src="/static/img/logo-white.png" alt="logo" class="logo">
            </div>

            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">
                        Emotionally Jumbled?
                    </span>
                    <span class="heading-primary-sub">
                        Say no more, here's our Top-Notch
                    </span>
                    <span class="heading-primary-sub">
                        <div class="sub"> Sentiment Analysis Tool </div>
                    </span>
                </h1>

                <a href="#options" class="btn btn-white btn-animated"> Analyze Now </a>
            </div>


        </header>

        <section class="icons">
        <div class="row">

            <div class="col-1-of-3">
                <span class="ionicon"><ion-icon name="git-compare-outline"></ion-icon></ion-icon></span>
                <span class="heading-primary-sub">
                    <div class="iconsub"> Deep Learning </div>
                </span>
            </div>

            <div class="col-1-of-3">
                <span class="ionicon"><ion-icon name="language-outline"></ion-icon></ion-icon></span>
                <span class="heading-primary-sub">
                    <div class="iconsub">Text Analysis </div>
                </span>
            </div>

            <div class="col-1-of-3">
                <span class="ionicon"><ion-icon name="image-outline"></ion-icon></ion-icon></span>
                <span class="heading-primary-sub">
                    <div class="iconsub"> Image Emotions </div>
                </span>
            </div>


        </div>
        </section>

         <!-- ---------------------------------option SECTION-------------------------------- -->

    <section class="section-option" id="options">

        <div class="row">

            <div class="col-1-of-2">
                <!-- <div class="option-head-box">
                    <h1 class="option-heading">option</h1>
                </div> -->

                <div class="option-info">
                    <div class="number-one">
                        <p class="numo">01</p>
                    </div>

                    <span class="heading-primary-sub">
                        <div class="opsheadone"> Analyse your own texts </div>
                    </span>

                    <p class="paragraph-one">

                        Welcome to our innovative platform where you can analyze your own text effortlessly. Simply input your text in the designated box, and our advanced machine learning model will swiftly provide insights into the sentiment and emotions embedded within your words.
                        Gain a deeper understanding of your message's impact with our intuitive analysis tool, to navigate with precision and clarity.<br>

                        <!-- Aperiam, ipsum sapiente aspernatur libero
                        repellat quis consequatur
                        ducimus quam nisi exercitationem omnis earum qui. -->

                    </p>
                    <div class="btnone">
                    <a href="/text" class="btn btn-white btn-animated">Text Analysis</a>
                    </div>

                </div>
            </div>

            <div class="col-1-of-2">
                <div class="option-info-two">
                    <div class="number-two">
                        <p class="numt">02</p>
                    </div>

                    <span class="heading-primary-sub">
                        <div class="opsheadtwo"> Analyse from database </div>
                    </span>

                    <p class="paragraph-two">
                        Explore the realm of sentiment analysis and image emotion detection on any topic or person within our comprehensive database. Simply input the subject of interest, and our powerful machine learning algorithms will delve into the sentiment surrounding it.
                        Leverage our image emotion detection feature to uncover nuanced emotional responses associated with relevant visuals.<br>


                    </p>
                    <div class="btntwo">
                    <a href="/multi" class="btn btn-white btn-animated">Multimodal Analysis</a>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <!-- ---------------------------------FOOTER SECTION-------------------------------- -->

    <section class="section-footer">

        <span class="foot">
        <p class="footpara">

            Deciphering sentiments beyond words alone.<br>
            Redefining sentiment analysis one modality at a time.

        </p>
        <p class="footcr">
            All Rights Reserved © by Sudhanva Bhattar.😁 <br>
            Built with 💛 under Prof. Hambaba.
        </p>
        </span>
    </section>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    </body>
</html>
